<!DOCTYPE html>
<!---->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>SWIP by DreamApps</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/rutinas/rutina.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://kit.fontawesome.com/02425c13ba.js" crossorigin="anonymous"></script>
        <link th:href="@{/css/estilos.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="sidebar">
                <header>
                    <div>
                        <img class="logo" src="static/img/SwipLogo.png" alt="SWIP"/>
                    </div>
                </header>
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link"><a href="#"><i class="fa-solid fa-house" style="color: #ffffff;"></i>&nbsp;&nbsp;INICIO</a></li>
                        <li class="nav-link"><a th:href="@{/ingreso/listado}"><i class="fa-solid fa-wallet" style="color: #ffffff;"></i>&nbsp;&nbsp;INGRESO</a></li>
                        <li class="nav-link"><a href="#"><i class="fa-solid fa-money-bills" style="color: #ffffff;"></i>&nbsp;&nbsp;PRESUPUESTO</a></li>
                        <li class="nav-link"><a href="@{/credito/creditos}"><i class="fa-solid fa-credit-card" style="color: #ffffff;"></i>&nbsp;&nbsp;CRÉDITO</a></li>
                        <li class="nav-link"><a href="#"><i class="fa-solid fa-piggy-bank" style="color: #ffffff;"></i>&nbsp;&nbsp;AHORRO</a></li>
                        <li class="nav-link"><a href="#"><i class="fa-solid fa-file-invoice" style="color: #ffffff;"></i>&nbsp;&nbsp;REPORTE</a></li>
                    </ul>
                </div>
                <div>
                    <h6 class="bottom-content">DREAM APPS</h6>
                </div>
            </nav>
        </header>
    </body>
</html>

