<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <link th:href="@{/css/estilos.css}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-Gn538aLMq0OnhgxJ5RnZ6B8USPZl2U5tH4GrZzS9PW7D0j6x2eDG1uZxAYbW2h9Ug4z7P3d3JzG4DSkmAziSUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>SWIP</title>
    </head>
    <body>  
        <section th:fragment="GestionIngresos" class="home">
            <div class="ingresos">
                <!-- Sección GestionIngresos a la izquierda -->
                <div class="col-md-6">
                    <div class="container">
                        <!-- Sección GestionIngresos a la izquierda -->
                        <div class="card">
                            <div class="text-center">
                                <h5>Gestión de Ingresos</h5>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="nombreIngreso" class="form-label">Nombre de Ingreso</label>
                            <input type="text" class="form-control" id="nombreIngreso">
                        </div>
                        <div class="mb-4">
                            <label for="descripcionIngreso" class="form-label">Descripción de Ingreso</label>
                            <input type="text" class="form-control" id="descripcionIngreso">
                        </div>
                        <div class="mb-4">
                            <label for="montoIngreso" class="form-label">Monto del Ingreso</label>
                            <input type="text" class="form-control" id="montoIngreso">
                        </div>
                        <div class="iconos">
                            <div class="icono-container">
                                <i class="fas fa-handshake"></i>
                            </div>
                            <div class="icono-container">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <div class="icono-container">
                                <i class="fas fa-sack-dollar"></i>
                            </div>
                        </div>
                        <div class="container botones">
                            <button type="button" class="boton guardar"> 
                                <i></i> Guardar
                            </button> 
                            <button type="button" class="boton editar">
                                <i></i> Editar
                            </button>
                            <button type="button" class="boton eliminar">
                                <i></i> Eliminar
                            </button>  
                        </div>
                    </div>
                </div>
                <!-- Sección listadoIngresos a la derecha -->


                <div class="col-md-6 text-end">
                    <div class="tablaingresos">
                    <table>
                        <thead>   
                        </thead>
                        <tbody>         
                            <tr>
                                <td>
                                    Reintegro de prestamos
                                    <div class="iconostabla">
                                        <i class="fas fa-briefcase"></i>
                                    </div>                           
                                </td>
                                <td>
                                   prestamo de un amigo por tramites universitarios y ajustes de saldos
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Pago Mensual 
                                    <div class="iconostabla">
                                  <i class="fas fa-briefcase"></i> 
                                    </div> 
                                </td>
                                <td>
                                    Salario quincenal
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Extras
                                    <div class="iconostabla">
                                        <i class="fas fa-briefcase"></i> 
                                    </div>

                                </td>
                                <td>
                                    Pago por horas extras
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ahorro
                                    <div class="iconostabla">
                                        <i class="fas fa-briefcase"></i>
                                    </div>

                                </td>
                                <td>
                                    Ahorro Personal
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Servicios Profesionales
                                    <div class="iconostabla">
                                        <i class="fas fa-briefcase"></i>  
                                    </div>

                                </td>
                                <td>
                                    Servicios de programacion
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
