<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SWIFT by DreamApps</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section class="home">
            <div class="container-principal">
                <div class="col-md-6">
                    <div class="titulos-pagina">
                        <div class="text-center titulo-home">
                            <h3 class="text-titulo">Bienvenido de vuelta</h3>
                        </div>
                    </div>
                    <!-- Sección de Saldo Ingreso y Gasto -->
                    <section class="box-valores">
                        <div class="sec-box-valores">
                            <p><i class="fa-solid fa-money-bill fa-lg"></i> SALDO</p>
                            <p>1000</p>
                        </div>
                        <div class="sec-box-valores">
                            <p><i class="fa-solid fa-money-bills fa-lg"></i> INGRESO</p>
                            <p>1000</p>
                        </div>
                        <div class="sec-box-valores">
                            <p><i class="fa-solid fa-money-bill-transfer fa-lg"></i> GASTO</p>
                            <p>1000</p>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </body>
</html>
