<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SWIFT by DreamApps</title>
    </head>
    <body>
        <section th:fragment="GestionCreditos"> 

            <div class="container-principal">
                <!-- Sección de bloque izquierdo-->
                <div class="col-md-6">
                    <form th:action="@{/credito/guardar}" th:object="${credito}" method="POST" enctype="multipart/form-data">
                        <div class="container">
                            <div class="card titulos-pagina">
                                <div class="text-center">
                                    <h5>Gestión de Créditos</h5>
                                </div>
                            </div>
                            <div class="label-doble">
                                <div class="items-doble">
                                    <label for="nombre_Credito" class="form-label">Seleccione el mes</label>
                                    <select id="mes_Registro" name="mes_Registro" class="form-control form-label">
                                        <option value="ENERO">ENERO</option>
                                        <option value="FEBRERO">FEBRERO</option>
                                        <option value="MARZO">MARZO</option>
                                        <option value="ABRIL">ABRIL</option>
                                        <option value="MAYO">MAYO</option>
                                        <option value="JUNIO">JUNIO</option>
                                        <option value="JULIO">JULIO</option>
                                        <option value="AGOSTO">AGOSTO</option>
                                        <option value="SEPTIEMBRE">SEPTIEMBRE</option>
                                        <option value="OCTUBRE">OCTUBRE</option>
                                        <option value="NOVIEMBRE">NOVIEMBRE</option>
                                        <option value="DICIEMBRE">DICIEMBRE</option>
                                    </select>                                    
                                </div>
                                <div class="items-doble">
                                    <label for="categoria_Credito" class="form-label">Seleccione la categoria</label>
                                    <select id="tipo_Credito" name="tipo_Credito" class="form-control form-label">
                                        <option value="TarjetaCredito">Tarjeta Credito</option>
                                        <option value="Financiamiento">Financiamiento</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="nombre_Credito" class="form-label">Nombre del Gasto</label>
                                <input type="text" class="form-control" name="nombre_Credito" required="true"/>
                            </div>
                            <div class="label-doble">
                                <div class="items-doble">
                                    <label for="num_Cuotas" class="form-label">Cantidad de Cuotas</label>
                                    <input type="number" class="form-control" name="num_Cuotas" required="true" />                                
                                </div>
                                <div class="items-doble">
                                    <label for="monto" class="form-label">Monto</label>
                                    <input type="number" class="form-control" name="monto" required="true" /> 
                                </div>
                            </div>
                            <div class="mb-4">
                            </div>
                            <div class="container botones">
                                <button type="submit" class="boton guardar" name="accion" value="guardar">Guardar</button>
                                <button type="reset" class="boton-cancelar" name="accion" value="cancelar">Cancelar</button>
                            </div>
                        </div>
                    </form>
                    <section class="container-info-box ">
                        <div class="credito-box">
                            <span><i></i> TARJETA DE CRÉDITO</span>
                        </div>
                        <div class="finan-box">
                            <span><i></i> FINANCIAMIENTOS</span>
                        </div>
                    </section>
                </div>
                <!-- Sección listadoIngresos a la derecha -->

                <div class="col-md-6 text-end">
                    <section>
                        <div class="tablaDatos">
                            <div th:if="${creditos != null and not creditos.empty}">       
                                <table>
                                    <thead>
                                        <!-- Encabezados de la tabla -->
                                        <tr class="encabezado-tabla">
                                            <th class="tabla-izq">Tarjeta Crédito</th>
                                            <th class="tabla-der">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="creditoItem : ${creditos}" th:if="${creditoItem != null}">
                                            <td>
                                                <!-- Contenedor para el nombre del credito -->
                                                <div class="nombre-container">
                                                    <span th:text="${creditoItem.nombre_Credito}"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <!-- Contenedor para el monto -->
                                                <div class="eliminarcredito">
                                                    <div class="monto-container-table">
                                                        <span th:text="${creditoItem.monto}"></span>
                                                    </div>
                                                    <form th:action="@{/credito/eliminar/{idCredito}}" method="post">
                                                        <input type="hidden" name="idcredito" th:value="${creditoItem.idcredito}" />
                                                        <button type="submit" class="btn btn-danger eliminar-btn">
                                                            <i class="fa-solid fa-xmark"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </body>
</html>